<div class="footer">
    <div class="footer__header">
        <div class="footer__header__logo">
            <img src="./assets/images/logo.png" alt="funbox-image">
        </div>
        <div class="footer__header__started">
            <input class="footer__started__text" type="text" placeholder="Enter Email">
            <button class="footer__started__btn">Get Started</button>
        </div>
    </div>
</div>
<div class="section">
    <div class="footer__section">
        <ul class="footer__items">
            <li class="footer__item"></li>
            <a href="">Account</a>
            <li class="footer__item"></li>
            <a href="">Terms</a>
            <li class="footer__item"></li>
            <a href="">Help centre</a>
            <li class="footer__item"></li>
            <a href="">How to</a>
        </ul>
    </div>
    <div class="footer__section">
        <ul class="footer__items">
            <li class="footer__item"></li>
            <a href="">Terms</a>
            <li class="footer__item"></li>
            <a href="">Account
            </a>
            <li class="footer__item"></li>
            <a href="">Help centre</a>
            <li class="footer__item"></li>
            <a href="">How to</a>
        </ul>
    </div>
</div>
<div class="footer__contact">
    <p class="footer__contact__text">Find us:</p>
    <a href="#"><img src="../development/assets/svg/facebook.svg" class="footer__contact__icon" alt=""> </a>
    <a href="#"><img src="../development/assets/svg/twitter.svg" class="footer__contact__icon" alt=""> </a>
</div>