<div class="selection_categories">
    <div class="categories">
        <button class="categories__btn"><a href="#" >Movies</a></button> 
        <button class="categories__btn">Series</button>
        <button class="categories__btn">Animations</button>
        <button class="categories__btn">Musicals</button>

    </div>
    <div class="categories__text" >
        <h1>Trending Now</h1>
        <p>New block buster releases await you.</p>
    </div>
    
    
</div>
    
    