<main id="main">
    <div class="content">
            <div class="content__movie">  
                <img src="#" alt="movie_img">
                <div class="content__movie__data">
                    <h3 class=content__movie__data__head>title</h3>
                    <p class="content__movie__data__text">content</p>
                    <button class="content__movie__data__watch">Watch Now</button>
                </div>
            </div>

            <div class="content__movie">
                <img src="#" alt="movie_img">              
                <div class="content__movie__data">
                    <h3 class=content__movie__data__head>title</h3>
                    <p class="content__movie__data__text">Film bilgileri</p>
                    <button class="content__movie__data__watch">Watch Now</button>
                </div>
            </div>

            <div class="content__movie">
                <img src="#" alt="movie_img">                
                <div class="content__movie__data">
                    <h3 class=content__movie__data__head>title</h3>
                    <p class="content__movie__data__text">content</p>
                    <button class="content__movie__data__watch">Watch Now</button>
                </div>
            </div>
            <div class="content__movie">  
                <img src="#" alt="movie_img">          
                <div class="content__movie__data">
                    <h3 class=content__movie__data__head>title</h3>
                    <p class="content__movie__data__text">Film bilgileri</p>
                    <button class="content__movie__data__watch">Watch Now</button>
                </div>
            </div>

            <div class="content__movie">
                <img src="#" alt="movie_img">      
                <div class="content__movie__data">
                    <h3 class=content__movie__data__head>title</h3>
                    <p class="content__movie__data__text">content</p>
                    <button class="content__movie__data__watch">Watch Now</button>
                </div>
            </div>
        </div>
</main>