<div class="sign">
            <h1 class="sign__title">Stream And Download Trending Movies All For Free.</h1>
            <p class="sign__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="sign__btn">Sign Up</button>
        </div>